server {
  listen 80;
  server_name {{ ipfs_proxy_domain }};
  return 302 https://$host$request_uri;
}

server {
  listen 443 ssl;

  server_name {{ ipfs_proxy_domain }};

  ssl_certificate     /certs/origin.crt;
  ssl_certificate_key /certs/origin.key;

  location / {
    proxy_pass http://localhost:{{ ipfs_proxy_gateway_port }}/ipfs/;
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
    add_header Cache-Control public,max-age=22896000;
  }

  location /ipfs/ {
    proxy_pass http://localhost:{{ ipfs_proxy_gateway_port }}/ipfs/;
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
    add_header Cache-Control public,max-age=22896000;
  }

  {% if ipfs_proxy_api_exposed %}
  {% for path in ipfs_proxy_api_exposed_paths %}
  location {{ path }} {
    proxy_pass http://localhost:{{ ipfs_proxy_admin_port }};
  }
  {% endfor %}
  {% endif %}
}
{% if ipfs_proxy_api_exposed %}

# This is legacy and can probably be removed
server {
  listen {{ ipfs_proxy_api_exposed_port }} ssl;

  server_name {{ ipfs_proxy_domain }};

  ssl_certificate     /certs/origin.crt;
  ssl_certificate_key /certs/origin.key;

  # Increase timeouts to fix uploads of bigger files
  proxy_connect_timeout {{ ipfs_proxy_api_exposed_timeout }};
  proxy_send_timeout    {{ ipfs_proxy_api_exposed_timeout }};
  proxy_read_timeout    {{ ipfs_proxy_api_exposed_timeout }};

  client_max_body_size {{ ipfs_proxy_api_exposed_max_body_size }};

  {% for path in ipfs_proxy_api_exposed_paths %}
  location {{ path }} {
    proxy_pass http://localhost:{{ ipfs_proxy_admin_port }};
  }
  {% endfor %}

}
{% endif %}
